@tailwind base;
@tailwind components;
@tailwind utilities;


.nav {
  @apply border-b-2 pb-[2px] border-transparent text-gray-900 dark:text-white hover:border-white duration-300;
}

.footer {
  @apply block mt-2 text-sm text-gray-400 hover:underline;
}
.bg-gradient-cover {
  background-color: transparent;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.92));
  background-position-y: -1px;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.nav {
  color: white;
}
@media (min-width: 320px) and (max-width: 768px) {
  .imgcard {
    max-height: 11rem;
  }
  .herowrap{
    max-height: 11rem;
    max-width: 80%;
  }
  .imghero{
    max-width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1014px) {
  .imgcard {
    max-height: 15rem;
  }
  .herowrap{
    max-height: 16rem;
    max-width: 80%;
  }
  .imghero{
    max-width: 80%;
  }

}
.slick-dots li button:before {
  @apply dark:!text-white;
}
